.logo {
  display: block;
  width: auto;
  max-width: 100%;
}

.header {
  height: 40px;
}

.login {
  height: 64px;
  margin: 0 auto;
}

.home {
  height: 110px;
  margin: 0 auto;
}

.print {
  height: 44px;
}

@media (max-width: 600px) {
  .header {
    height: 34px;
  }
  .login {
    height: 56px;
  }
  .home {
    height: 88px;
  }
}
